/* header rules */
header {
    font-size: 1.3em;
}

.header-box {
    display: flex;

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid black;

    background-color: aliceblue;
}

/* REMAKE! */
.logo-header-box {
    width: 70px;
    height: 70px;
    background-color: gray;
}

.list-header-box ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.list-header-box li {
    margin: 10px;
}