/* main rules */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Spectral';
}

img {
    width: 100%;
}

body {
    position: relative;
}

body::-webkit-scrollbar {
    display: none;
}


.browse-more-link {
    padding: 10px 0px;

    font-size: 0.9em;
    text-decoration: none;
    color: cornflowerblue;
    text-transform: uppercase;
}