main {
    background-color: #070B14;
    color: aliceblue;
}

.description-container {
    margin: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-image: url(../img/top-123.png);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
}

.description-container-box {
    width: 300px;
}

 



.actions-container {
    display: flex;
    align-items: center;
    margin-top: 90px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.action-box {
    margin: 25px 10px;
    max-width: 500px;
    border: 2px solid black;
}