/* main rules for main page */
main {
    background-color: #070B14;
    color: #F5F5F7;
    padding: 25px;

    background-image: url(../img/library_image_description.png);
    background-position: top right;
    background-size: 550px 350px;
    background-repeat: no-repeat;
}


/* its covering all main things - now do nothing*/
.main-cover-container {}



/* what you can pick - main links to main pages */
/* actions-container>action-box->(action-img-box + description-box)*/
.actions-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* boxes */
.action-box {
    padding: 25px;
    margin: 25px 10px;
    width: 300px;
    border-radius: 10px;

    background-repeat: no-repeat;
    background-size: contain;

}

.action-img-box {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 60px;

    margin: 15px 0px;
    padding: 7px;

    border-radius: 50%;
    overflow: hidden;
}

.action-box>h2>a {
    text-decoration: none;
    color: #F5F5F7;
    text-transform: uppercase;
}

.action-box p {
    padding: 10px 0px;
    color: #eaeaea;
}



/* Types of different colour */
/* Powderblue */
.powder-blue-action {
    background: url(../img/lib.png);

    border: 1px solid powderblue;
    box-shadow: inset 0px 0px 10px powderblue;
}

.powder-blue-action .action-img-box {
    border: 2px solid powderblue;
    box-shadow: 0px 0px 10px powderblue;
}

.powder-blue-action .browse-more-link {
    color: powderblue;
}

/*  */


/* Cornflower-blue */
.cornflover-blue-action {
    background: url(../img/spell_circle.png);

    border: 1px solid cornflowerblue;
    box-shadow: inset 0px 0px 10px cornflowerblue;
}

.cornflover-blue-action .action-img-box {
    border: 2px solid cornflowerblue;
    box-shadow: 0px 0px 10px cornflowerblue;
}

.cornflover-blue-action .browse-more-link {
    color: cornflowerblue;
}

/*  */


/* Tidal */
.tidal-action {
    background: url(../img/bestiary_monster.png);

    border: 1px solid #66D6E0;
    box-shadow: inset 0px 0px 10px #66D6E0;
}

.tidal-action .action-img-box {
    border: 2px solid #66D6E0;
    box-shadow: 0px 0px 10px #66D6E0;
}

.tidal-action .browse-more-link {
    color: #66D6E0;
}

/*  */


/* Dm-violet */
.dm-action {
    background: url(../img/dm_table.png);

    border: 1px solid #A383FC;
    box-shadow: inset 0px 0px 10px #A383FC;
}

.dm-action .action-img-box {
    border: 2px solid #A383FC;
    box-shadow: 0px 0px 10px #A383FC;
}

.dm-action .browse-more-link {
    color: #A383FC;
}

/*  */



/* same for every action: */
.powder-blue-action,
.cornflover-blue-action,
.tidal-action,
.dm-action {
    background-repeat: no-repeat;
    background-size: contain;
}




/*  */



@media (width <=768px) {
    .action-box {
        width: 400px;
        margin: 15px 0px;
    }
}