/* main rules for main page */
main {
    background-color: #070B14;
    color: #F5F5F7;
    padding: 25px;

    background-image: url(../img/library_image_description.png);
    background-position: top right;
    background-size: 550px 350px;
    background-repeat: no-repeat;
}


/* its covering all main things - now do nothing*/
.main-cover-container {}