/* its description desc>desc-text>span+h2+p */
.description-container {
    display: flex;
    align-items: center;
    justify-content: left;

    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.description-text-box {
    position: relative;
    max-width: 400px;
}

.green-gem {
    width: 20px;
    position: absolute;
    top: -30px;
    left: 50%;
}

.description-text-box span {
    color: cornflowerblue;
}

.blue-span {
    text-transform: uppercase;
    font-size: 0.7em;
}

.description-text-box h2 {
    font-size: 2em;
    font-weight: 400;
    line-height: 1.2;

    margin: 15px 0px;
}

.description-text-box p {
    margin: 15px 0px;
}

.input-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.description-text-box input {
    padding: 5px 7px;
    padding-left: 35px;
    color: #F5F5F7;
    width: 80%;

    background: transparent;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='rgba(245, 245, 247, 0.7)'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z'/%3E%3C/svg%3E");

    outline: none;
    border: 2px solid rgba(100, 148, 237, 0.873);
    border-radius: 5px;
    box-shadow: inset 0px 0px 7px rgba(100, 148, 237, 0.81);
}

.description-text-box input:not(:placeholder-shown) {
    background-image: none;
    padding-left: 10px;
}

.description-text-box button {
    padding: 7px 10px;
    margin-left: 20px;

    border-radius: 5px;
    border: none;

    background-color: royalblue;
    box-shadow: 0px 0px 3px cornflowerblue;
    color: #F5F5F7;
    text-transform: uppercase;

    transition: 0.5s;
}

.description-text-box button:hover {
    transform: translateY(-5px) scale(1.1);
    box-shadow: 0px 0px 6px cornflowerblue;

}


/* media */
@media (width <=768px) {
    .description-container {
        border-radius: 10px;
        box-shadow: 0px 0px 10px 10px #070b14bf;
        background-color: #070b14bf;

        justify-content: center;


        margin-left: 0px;
        margin-right: 0px;
    }

    .description-text-box span,
    h2,
    p {
        -webkit-text-stroke: 3px black;
        paint-order: stroke fill;
    }
}